<%- include("partials/header", {title: "About"}); -%>
    <h1 class="title">About</h1>
    <h3 class="title"><b>Welcome to ByteBuddies!</b></h3>

    <p class="formatted-text content">
We're a passionate team of tech enthusiasts dedicated to bringing you the latest and most exciting updates in the world of technology. At ByteBuddies, we believe that understanding technology shouldn’t be daunting. We're here to simplify the complex, decode the jargon, and make tech accessible for everyone.

Whether you're a tech wizard or just starting to explore this fascinating realm, our goal is to be your go-to source for insightful, easy-to-understand tech content. From gadget reviews to software breakdowns, tips and tricks, and deep dives into emerging technologies, we've got you covered.

Our team comprises tech-savvy individuals who love sharing their knowledge and discoveries with our readers. We're here to inform, inspire, and create a community where tech enthusiasts can learn and grow together.

Join us on this exciting journey through the digital landscape. Let's unravel the mysteries, embrace the innovations, and make technology an empowering force in your life.

Welcome to ByteBuddies—where tech meets simplicity!
</p>
    <%- include("partials/footer"); -%>