<%- include("partials/header", {title: "Compose" }); -%>
  <h1>Compose</h1>
  <form class="" action="/compose" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" name="postTitle">
      <label>Post</label>
      <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
      <label>Links (one per line)</label>
      <textarea class="form-control" id="editor" name="postLinks" rows="3" cols="30"></textarea>
      <label>Website Name (corresponding to each link)</label>
      <textarea class="form-control" name="postLinkNames" rows="3" cols="30"></textarea>
      <label>Upload Images</label>
      <input class="form-control" type="file" name="postImages" multiple>
    </div>
    <button class="btn" type="submit" name="button"> Compose
    </button>
  </form>
  <%- include("partials/footer"); -%>