<%- include("partials/header") -%>

    <div class="cookieCard">
        <form action="/logout" method="post">
            <p class="cookieHeading">Already Logged in.</p>
            <!-- <p class="cookieDescription">By using this website you automatically accept that we use cookies. <a -->
            <!-- href="#">What for?</a></p> -->
            <button class="acceptButton" type="submit">Logout?</button>
        </form>
    </div>





    <%- include("partials/footer") -%>